<div class="header">
  <div class="logo_name">
    <i class="fas fa-calculator fa-lg my_logo"></i>
    <a href="#">そろばん</a>
  </div>
  <div class="user">
    <div class="log_in">
      <a href="#">ログイン</a>
    </div>
    <div class="sign_up">
      <a href="#">無料会員登録</a>
    </div>
  </div>
</div>
