.header {
  background-color: #fafafa;
  width: 100vw;
  height: 80px;
  padding: 20px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.logo_name_right{
  color: #2a2b2a;
  text-decoration: none;
}
.my_logo {
  color:#d4a373;
}
.user {
  display: flex;
  align-items: center;
}
.log_in,.user_name,.log_out{
  color: #2a2b2a;
  text-decoration: none;
  margin-left: 10px;
  padding: 10px;
}
.sign_up {
  color: #2a2b2a;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #d4a373;
  text-decoration: none;
  background-color: #d4a373;
  border-radius: 25px;
}

.main {
  padding-top: 80px;

}
.main_image {
  height: 60vh ;
  position: relative;
}
/* .main_image p{
  font-size: 60px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.main_title {
  font-size: 60px;
  height: 100px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 0 0 10px white;

}
.main_image_a {
  height: 100%;
  width: 100%;
}

.main_texts {
  padding: 50px 250px;
}
.main_heading_name {
  font-size: 25px;
  text-align: center;
  margin:0px auto;
  border-bottom: 1px solid #587d71;
  width: 150px;
}
.texts {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.text {
  background-color: #ccd5ae;
  width: 250px;
  height: 380px;
  margin: 30px;
  text-align: center;
  border-radius: 10px;
}
.text a {
  color: #587d71;
  padding: 20px 40px;
  background-color:#fafafa;
  border-radius: 10px;
  text-decoration: none;
}
.text_name {
  font-size: 20px;
  padding-top: 40px;
}
.text_image {
  width: 70%;
  margin: 20px;
}

.footer {
  background-color: #fafafa;
  height: 150px;
  padding: 20px
}
