<%= render "shared/header"%>
<div class="texts_index">
  <div class="search_result">
    <h1 class="main_heading_name">検索結果<h1>
    <% if @results.length != 0 %>
      <ul class="texts">
      <% @results.each do |result| %>
        <li class="text">
          <div class="text_name"><%= result.text_name %></div>
          <%= image_tag result.image, alt: "画像", class: "text_image" %><br>
          <%= link_to "学習する", {controller: "texts", action: "study", name: result.text_link,id:0 } %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </div>
</div>

